---

- include: common.yml

- include: container.yml

- include: kube-common.yml

- include: haproxy-keepalived.yml
  when: inventory_hostname in groups['control_plane']

- include: kube-control-plane-init.yml
  when: inventory_hostname in groups['control_plane_init']

- include: kube-control-plane-join.yml
  when: inventory_hostname in groups['control_plane_join']
  
- include: kube-node.yml
  when: inventory_hostname in groups['node']
